absl-py
aniso8601
arrow
backcall
certifi
chardet
click
decorator
Flask
Flask-Cors
Flask-RESTful
geojson
googlemaps
idna
ipython
ipython-genutils
itsdangerous
jax
jaxlib
jedi
Jinja2
MarkupSafe
numpy
opt-einsum
parso
pexpect
pickleshare
prompt-toolkit
ptyprocess
Pygments
pyowm
PySocks
python-dateutil
pytz
requests
ruptures
scipy
shared-memory-dict
six
stravalib
traitlets
units
urllib3
wcwidth
Werkzeug
